name: dependabot
on:
  schedule:
    - cron: 0 10 * * 3
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - run: npx npm-check-updates
      - run: npx npm-check-updates -u
      - run: npm install
      - run: npm test

      - name: git commit package.json if needed
        run: |
          if git status --short | grep -q package
          then
            chmod +x .husky/pre-commit
            git config user.name dependabot
            git config user.email dependabot@github.com
            git add .
            git commit -m "dependabot"
            git push
          else
            git status --short
          fi
